.icon {
    &__line {
        border: 1px solid $secondary;
        width: 2px;
        height: 85px;
    }
    &__fonts {
        font-size: 80px;
        color: $secondary;
    }
    &__text_title {
        color: $secondary;
        font-family: Montserrat-Medium;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 25px;
    }
    &__text_parrofo {
        font-family: Montserrat-Regular;
    }
    &__padding {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @media screen and(max-width: 991px) {
        &__padding {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        &__line {
            border: 1px solid $secondary;
            width: 2px;
            height: 25px;
        }
    }
    @media screen and(max-width: 575px) {
        &__padding {
            padding-left: 0px;
            padding-right: 0px;
        }
        &__line {
            border: 1px solid $secondary;
            width: 2px;
            height: 25px;
        }
    }
}