.confort {
    @media screen and(max-width: 575px) {
        &__padding {
            margin-top: 10px;
            padding-bottom: 0px;
            padding-right: 0px;
            padding-left: 0px;
        }
    }
}