.portada {
    &__bg {
        height: 650px;
        background-image: url('../../static/img/home-portada.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__bg_rgba {
        background: rgba(0, 0, 0, 0.2);
        height: 100%;
    }
    &__box {
        min-height: 520px;
    }
    &__font {
        color: white;
        font-family: garreg;
        margin-right: 15px;
        font-size: 40px;
    }
    &__box_arrow {
        margin-top: 50px;
        width: 100px;
    }
    &__arrow_link {
        color: white;
    }
    &__arrow_link:hover {
        color: #DDDDDDDE;
        transition: .4s all ease;
    }
    &__arrow {
        font-size: 40px;
        height: 50px;
    }
    @media screen and(max-width: 991px) {
        &__bg {
            height: 600px;
        }
        &__box {
            min-height: 470px;
        }
        &__box_arrow {
            margin-top: 50px;
            width: 100px;
        }
    }
    @media screen and(max-width: 575px) {
        &__bg {
            height: 550px;
        }
        &__box {
            min-height: 420px;
        }
        &__box_arrow {
            margin-top: 50px;
            width: 100px;
        }
        &__font {
            margin-right: 0px;
            font-size: 35px;
        }
    }
}