.reserva {
    &__bg {
        min-height: 700px;
        background: linear-gradient(to top, #212121 75%, transparent 25%, #212121 75%, transparent 25%);
    }
    &__line {
        border: 1px solid $primary;
        width: 2px;
        height: 35px;
    }
    &__line_final {
        border: 1px solid $primary;
        width: 2px;
        height: 15px;
    }
    &__img_1 {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &__box_img {
        height: 430px;
    }
    &__box_img_1 {
        height: 260px;
    }
    &__img_2 {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    &__line_2 {
        width: 35px;
        height: 2px;
        background: black;
        margin-bottom: 8px;
        margin-top: 12px;
    }
    &__font {
        font-family: Montserrat-Light;
        text-align: left;
        font-size: 14px;
    }
    &__title {
        font-family: Montserrat-Medium;
        font-size: 20px;
        margin-bottom: 0px;
    }
    &__text {
        height: 330px;
        background: #EFEFEFFF;
        -webkit-box-shadow: 25px -25px 0px -5px #9fb6bb;
        -moz-box-shadow: 25px -25px 0px -5px #9fb6bb;
        box-shadow: 25px -25px 0px -5px #9fb6bb;
    }
    &__box_text_2 {
        min-height: 714px;
        background: #EFEFEFFF;
    }
    &__bg_text {
        background: #EFEFEFFF;
    }
    &__btn {
        padding: 8px 45px 8px 45px;
        background: transparent;
        margin-right: auto;
        margin-left: auto;
        color: white;
        border: 2px solid white;
        border-radius: 8px;
        font-size: 23px;
        font-family: Montserrat-Regular;
        margin-top: -10px;
        z-index: 10;
    }
    &__btn:hover {
        color: white;
        transition: .4s all ease;
        box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.9);
    }
    &__box_content {
        padding: 24px 24px 24px 24px;
    }
    @media screen and(max-width: 767px) {
        &__bg {
            min-height: 700px;
            background: linear-gradient(to top, #212121 99%, transparent 1%, #212121 99%, transparent 1%);
        }
        &__box_img_1 {
            height: 220px;
            margin-bottom: 1.5rem;
        }
        &__box_img {
            height: 260px;
        }
        &__none {
            display: none;
        }
        &__box_text_2 {
            min-height: 220px;
            background: #EFEFEFFF;
        }
        &__text {
            height: 220px;
            background: #EFEFEFFF;
            -webkit-box-shadow: 18px -18px 0px -5px #9fb6bb;
            -moz-box-shadow: 18px -18px 0px -5px #9fb6bb;
            box-shadow: 18px 18px 0px -5px #9fb6bb;
        }
        &__btn {
            margin-top: 35px;
        }
    }
    @media screen and(max-width: 575px) {
        &__padding {
            padding-right: 0px;
            padding-left: 0px;
        }
        &__text {
            -webkit-box-shadow: 12px -12px 0px -5px #9fb6bb;
            -moz-box-shadow: 12px -12px 0px -5px #9fb6bb;
            box-shadow: 12px 12px 0px -5px #9fb6bb;
        }
    }
}