.collage {
    &__bg {
        line-height: 0;
        -webkit-column-count: 1;
        -webkit-column-gap: 0px;
        -moz-column-count: 5;
        -moz-column-gap: 0px;
        column-count: 5;
        column-gap: 0px;
        width: 100%;
        height: auto;
    }
    &__img {
        object-fit: cover;
        height: 200px;
        width: 100%;
    }
    &__btn {
        padding: 20px 20px;
        background: rgba(0, 0, 0, .1);
        color: white;
        border: 2px solid white;
        border-radius: 8px;
        font-size: 23px;
        font-family: Montserrat-Medium;
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 50px;
        width: 300px;
        position: absolute;
    }
    &__btn:hover {
        color: white;
        transition: .4s all ease;
        box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.9);
    }
    @media screen and(min-width: 1200px) {
        &__img {
            object-fit: cover;
            height: 250px;
            max-height: 300px;
            width: 100%;
        }
    }
    @media screen and(max-width: 991px) {
        &__img {
            height: 180px;
        }
        &__bg {
            line-height: 0;
            -webkit-column-count: 1;
            -webkit-column-gap: 0px;
            -moz-column-count: 3;
            -moz-column-gap: 0px;
            column-count: 3;
            column-gap: 0px;
            width: 100%;
            height: auto;
        }
        &__img:nth-child(10) {
            height: 0 !important;
            position: absolute;
        }
    }
    @media screen and(max-width: 767px) {
        &__btn {
            padding: 10px 20px;
            width: 250px;
            height: 70px;
            line-height: 1;
        }
    }
    @media screen and(max-width: 575px) {
        &__bg {
            line-height: 0;
            -webkit-column-count: 1;
            -webkit-column-gap: 0px;
            -moz-column-count: 2;
            -moz-column-gap: 0px;
            column-count: 2;
            column-gap: 0px;
            width: 100%;
            height: auto;
        }
        &__img:nth-child(8) {
            height: 0 !important;
            position: absolute;
        }
        &__img:nth-child(9) {
            height: 0 !important;
            position: absolute;
        }
        &__img:nth-child(7) {
            height: 0 !important;
            position: absolute;
        }
    }
    @media screen and(max-width: 450px) {
        &__bg {
            line-height: 0;
            -webkit-column-count: 1;
            -webkit-column-gap: 0px;
            -moz-column-count: 2;
            -moz-column-gap: 0px;
            column-count: 2;
            column-gap: 0px;
            width: 100%;
            height: auto;
        }
        &__img:nth-child(8) {
            height: 0 !important;
            position: absolute;
        }
        &__img:nth-child(9) {
            height: 0 !important;
            position: absolute;
        }
        &__img:nth-child(7) {
            height: 0 !important;
            position: absolute;
        }
        &__img:nth-child(5) {
            height: 0 !important;
            position: absolute;
        }
        &__img:nth-child(6) {
            height: 0 !important;
            position: absolute;
        }
    }
}