.footer {
    &__line_title {
        width: 82px;
        background: white;
        height: 2px;
        margin-bottom: 5px;
    }
    &__title {
        font-size: 57px;
        font-family: Montserrat-Bold;
        margin-bottom: 0px;
    }
    &__spacing {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &__text {
        font-family: garreg;
        font-size: 18px;
        line-height: 1;
    }
    &__start {
        font-size: 12px;
        color: #EFCE4BFF;
        margin-left: 18px;
    }
    &__link {
        font-family: Montserrat-Regular;
        color: #959495FF;
    }
    &__link:hover {
        font-family: Montserrat-Regular;
        color: #A8A8A8FF;
    }
    &__line {
        width: 100%;
        background: white;
        height: 2px;
        margin-bottom: 16px;
        margin-top: 10px;
    }
    &__text {
        font-family: Montserrat-Regular;
        color: #959495FF;
        margin-bottom: 7px;
        font-size: 16px;
    }
    &__subtitle {
        font-family: Montserrat-Regular;
        font-size: 18px;
        color: #D6D6D6FF;
    }
    &__bg {
        background: #3A3C41FF;
    }
    &__text_2 {
        font-family: Montserrat-Regular;
        color: #959495FF;
        font-size: 16px;
        padding: 5px;
        padding-right: 15px;
        padding-left: 15px;
    }
    @media screen and(max-width: 767px) {
        &__column {
            order: 1;
        }
        &__title {
            text-align: center;
        }
        &__line_title {
            margin-right: auto;
            margin-left: auto;
        }
        &__text {
            text-align: center;
        }
        &__start {
            margin-left: 22px;
        }
        &__subtitle {
            text-align: center;
        }
        &__center {
            text-align: center;
        }
        &__spacing {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
}