.navbar {
    &__bg {
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
    &__box {
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
    }
    &__box_title {
        display: flex;
        margin-left: 15px;
    }
    &__height {
        height: 80px;
    }
    &__title_text {
        line-height: 1;
        font-family: garreg;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 21px;
    }
    &__title {
        font-family: Montserrat-Bold;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 48px;
    }
    &__line_title {
        border: 1px solid white;
        height: 36px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5px;
        margin-right: 5px;
    }
    &__link {
        font-family: Montserrat-Regular;
        padding: 17px 20px 17px 20px !important;
        font-size: 16px;
    }
    &__link:hover {
        color: rgba(255, 255, 255, 0.75) !important;
        transition: .4s all ease;
    }
    &__shadow {
        box-shadow: none !important;
    }
    @media screen and(max-width: 991px) {
        &__box_title {
            display: flex;
            margin-left: 15px;
        }
        &__link {
            margin-right: 15px;
            margin-left: 15px;
            padding-left: 10px !important;
        }
    }
    @media screen and(max-width: 575px) {
        &__box_title {
            display: flex;
            margin-left: 0px;
        }
        &__link {
            margin-right: 0px;
            margin-left: 0px;
        }
        &__btn {
            padding-right: 0px !important;
        }
    }
}