.button {
    &__btn {
        padding: 8px 18px 8px 18px;
        background: transparent;
        min-width: 150px;
        margin-right: auto;
        margin-left: auto;
        color: $primary;
        border: 2px solid $primary;
        border-radius: 8px;
        font-size: 23px;
        font-family: Montserrat-Regular;
        margin-top: 55px;
    }
    &__btn:hover {
        color: $primary;
        transition: .4s all ease;
        box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, .3);
    }
    @media screen and(max-width: 575px) {
        &__btn {
            margin-top: 20px;
            font-size: 20px;
        }
    }
}