<div class="collage__bg position-relative" id="abajo">
	<img src="static/img/collage-1.jpg" class="collage__img" alt="">
  	<img src="static/img/collage-2.jpg" class="collage__img" alt="">
  	<img src="static/img/collage-3.jpeg" class="collage__img" alt="">
  	<img src="static/img/collage-4.jpg" class="collage__img" alt="">
  	<img src="static/img/collage-5.png" class="collage__img" alt="">
  	<img src="static/img/collage-6.jpg" class="collage__img" alt="">
  	<img src="static/img/collage-7.jpg" class="collage__img" alt="">
  	<img src="static/img/collage-8.jpg" class="collage__img" alt="">
  	<img src="static/img/collage-9.jpg" class="collage__img" alt="">
  	<img src="static/img/collage-10.jpg" class="collage__img" alt="">
	<a href="#" class="collage__btn text-center">Descubre Salamanca</a>
</div>