<div class="reserva__bg">
	<div class="container__salamanca">
		<div class="reserva__line d-flex mx-auto"></div>
		<div class="d-flex flex-wrap">
			<div class="col-lg-4 col-md-4 col-12 reserva__padding">
				<div class="d-flex flex-column">
					<div class="reserva__box_img mb-4">
						<img src="static/img/habitacion-1.jpg" class="reserva__img_1" alt="">
					</div>
					<div class="reserva__box_img_1 reserva__bg_text reserva__box_content d-flex justify-content-center flex-column">
						<h3 class="reserva__title">Loremn ipsum Odor</h3>
						<div class="reserva__line_2"></div>
						<p class="reserva__font mb-0 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmoorem ipsum ipsu ipsu ipsu dolor sit amet, consectetur.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-12 reserva__padding">
				<div class="d-flex flex-column">
					<div class="reserva__box_img mb-4">
						<img src="static/img/habitacion-3.jpg" class="reserva__img_1" alt="">
					</div>
					<div class="reserva__box_img_1 reserva__none">
						<img src="static/img/habitacion-2.jpg" class="reserva__img_2" alt="">
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-12 reserva__padding">
				<div class="reserva__text">
					<div class="reserva__box_text_2 d-flex">
						<div class="my-auto reserva__box_content">
							<h3 class="reserva__title">Loremn ipsum Odor</h3>
							<div class="reserva__line_2"></div>
							<p class="reserva__font mb-0 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, elit elit elit sed do eiusmoorem ipsum dolor sit amet, consectetur.</p>
						</div>
					</div>
				</div>
			</div>
			<a href="#btn" class="text-center mx-auto reserva__btn">Reserva ya</a>
		</div>
		<div class="reserva__line_final d-flex mx-auto mt-lg-2"></div>
	</div>
</div>