<div class="portada__bg">
	<div class="portada__bg_rgba">
		<div class="container__salamanca">
			<div class="portada__box d-flex align-items-end flex-column">
				<div class="mt-auto">
					<h2 class="text-right portada__font">Un hostal<br>para sentirse en casa</h2>
				</div>
			</div>
			<div class="portada__box_arrow d-flex align-items-center flex-column mx-auto">
				<a href="#abajo" class="portada__arrow_link"><i class="fas fa-angle-down portada__arrow"></i></a>
			</div>
		</div>
	</div>
</div>