<div class="container__salamanca">
	<div class="icon__bg">
		<div class="mx-auto icon__line"></div>
		<div class="d-flex flex-lg-nowrap flex-wrap justify-content-center icon__padding">
			<div class="text-center col-lg-3 col-md-6 col-sm-6 col-12 icon__movil">
				<i class="fas fa-map-marker-alt icon__fonts"></i>
				<h3 class="icon__text_title">CENTRICO</h3>
				<p class="icon__text_parrofo">A diez minutos andando del centro historico.</p>
			</div>
			<div class="text-center col-lg-3 col-md-6 col-sm-6 col-12 icon__movil">
				<i class="fas fa-wheelchair icon__fonts"></i>
				<h3 class="icon__text_title">PARA TODOS</h3>
				<p class="icon__text_parrofo">Con baños e instalaciones adaptadas.</p>
			</div>
			<div class="text-center col-lg-3 col-md-6 col-sm-6 col-12 icon__movil">
				<i class="far fa-star icon__fonts"></i>
				<h3 class="icon__text_title">CON ESTILO</h3>
				<p class="icon__text_parrofo">Cuidamos cada detalle y cada habitación.</p>
			</div>
			<div class="text-center col-lg-3 col-md-6 col-sm-6 col-12 icon__movil">
				<i class="fas fa-bed icon__fonts"></i>
				<h3 class="icon__text_title">COMO EN CASA</h3>
				<p class="icon__text_parrofo">Suite, salón, baño privado, cafetera... ¿te falta algo?</p>
			</div>
		</div>
	</div>
</div>