<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport">
    <title>Salamanca</title>
  </head>
  <body>
    <!-- Navbar -->
    {{> ../components/layout/navbar}}
    <!-- /Navbar -->
    <!-- Content -->

      <!-- portada-->
      {{> ../components/home/home-portada}}
      <!--/portada-->

      <!-- section 1 -->
      {{> ../components/home/home-cercania-confort}}
      <!-- /section 1 -->

      <!-- section 2 -->
      {{> ../components/home/home-reserva}}
      <!-- /section 2 -->
      <!-- section 3 -->
      {{> ../components/home/home-icon}}
      <!-- /section 3 -->
      <!-- section 3 -->
      {{> ../components/home/home-collage}}
      <!-- /section 3 -->

    <!-- Content -->
    
    <!-- Footer -->
    {{> ../components/layout/footer}}
  </body>
</html>
