<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport">
    <title>Salamanca</title>
  </head>
  <body>
    <!-- Navbar -->
    {{> ../components/layout/navbar}}
    <!-- /Navbar -->
    <!-- Content -->

      <!-- portada-->
    {{> ../components/room/room-rojas}}
      <!--/portada-->

      <!-- section 1 -->
    {{> ../components/room/room-reserva}}
      <!-- /section 1 -->

      <!-- section 2 -->
    {{> ../components/room/room-habitacion}}
      <!-- /section 2 -->

    <!-- Content -->
    
    <!-- Footer -->
    {{> ../components/layout/footer}}
  </body>
</html>