<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport">
    <title>Salamanca</title>
  </head>
  <body>
    <!-- Navbar -->
    {{> ../components/layout/navbar}}
    <!-- /Navbar -->
    <!-- Content -->

      <!-- portada-->
    {{> ../components/sections/portadas title="descansa"}}
      <!--/portada-->

      <!-- section 1 -->
    {{> ../components/rooms/rooms-suites}}
      <!-- /section 1 -->

      <!-- section 2 -->
    {{> ../components/rooms/rooms-habitaciones}}
      <!-- /section 2 -->

      <!-- section 3 -->
      {{> ../components/rooms/rooms-salon}}
      <!-- /section 3 -->
 
    <!-- Content -->
    
    <!-- Footer -->
    {{> ../components/layout/footer}}
  </body>
</html>
