.habitacion {
    &__box {
        padding-top: 0px;
        padding-bottom: 100px;
    }
    &__line {
        width: 3px;
        height: 100px;
        background: #9CA7BAFF;
    }
    &__title {
        font-family: Montserrat-Medium;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    &__imgs {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__box_imgs {
        width: 100%;
        height: 300px;
        z-index: 1;
    }
    &__box_col {
        height: 300px;
    }
    &__box_black {
        height: 265px;
        width: 62%;
        background: #212121;
        z-index: 0;
        top: 65px;
    }
    &__box_link {
        background: rgba(0, 0, 0, .5);
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0;
        bottom: 0;
        right: 0;
        color: white;
        opacity: 0;
    }
    &__box_link:hover {
        background: rgba(0, 0, 0, .5);
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0;
        bottom: 0;
        right: 0;
        color: white;
        opacity: 1;
        transition: .4s all ease;
    }
    &__line_number {
        height: 3px;
        width: 35px;
        background: white;
        margin-top: 0px;
    }
    &__number {
        color: white;
        font-family: Montserat-Medium;
        margin-bottom: 0px;
        font-size: 39px;
        height: 50px;
    }
    &__box_titles {
        height: 160px;
    }
    &__fonts_titles {
        font-family: garreg;
        font-size: 40px;
    } //termina rooms
    @media screen and(max-width: 991px) {
        &__box_imgs {
            width: 100%;
            height: 220px;
            z-index: 1;
        }
        &__box_col {
            height: 220px;
        }
        &__box_black {
            height: 185px;
            width: 62%;
            background: #212121;
            z-index: 0;
            top: 65px;
        }
        &__box_titles {
            height: 70px;
        }
    }
    @media screen and(max-width: 767px) {
        &__box_black {
            height: 0px;
            width: 0%;
            background: none;
            z-index: 0;
            top: 0px;
        }
        &__box {
            padding-top: 0px;
            padding-bottom: 60px;
        }
        &__line {
            position: absolute;
            left: 50%;
            top: -10%;
            width: 3px;
            height: 50px;
            background: #9CA7BAFF;
        }
        &__title {
            padding-top: 65px;
            padding-bottom: 20px;
        }
    }
    @media screen and(max-width: 575px) {
        &__col {
            padding-right: 0px;
            padding-left: 0px;
        }
        &__line {
            position: absolute;
            left: 50%;
            top: 6%;
            width: 3px;
            height: 50px;
            background: #9CA7BAFF;
        }
    }
}