.reserva {
    &__bg {
        height: auto;
        padding-top: 200px;
        padding-bottom: 100px;
    }
    &__col {
        padding-right: 30px;
        padding-left: 0px;
    }
    &__title {
        font-family: Montserrat-Medium;
        text-align: left;
        margin-left: 15px;
        margin-bottom: 40px;
        font-size: 28px;
    }
    &__line_title {
        height: 3px;
        width: 380px;
        background: #9BA6B9FF;
        margin-left: 15px;
        margin-bottom: 70px;
    }
    &__parrafo {
        font-family: Montserrat-Light;
        margin-bottom: 50px;
    }
    &__box_text {
        padding-right: 40px;
        padding-left: 40px;
    }
    &__btn {
        padding: 7px 45px 7px 45px;
        background: transparent;
        min-width: 150px;
        margin-right: auto;
        margin-left: auto;
        color: #535253FF;
        border: 2px solid #535253FF;
        border-radius: 8px;
        font-size: 23px;
        font-family: Montserrat-Regular;
        margin-top: 55px;
    }
    &__btn:hover {
        color: #535253FF;
        transition: .4s all ease;
        box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, .3);
    }
    &__line_caracter {
        height: 1px;
        width: 40px;
        background: black;
        margin-bottom: 40px;
    }
    &__subtitle {
        font-family: Montserrat-Medium;
        text-align: left;
        margin-bottom: 20px;
        font-size: 24px;
    }
    &__bg_shadow {
        background: #F9F9F9FF;
        height: 300px;
        -webkit-box-shadow: 29px -30px 0px -10px #98A3B7FF;
        -moz-box-shadow: 29px -30px 0px -10px #98A3B7FF;
        box-shadow: 29px -30px 0px -10px #98A3B7FF;
    }
    &__bg2 {
        background: #F9F9F9FF;
        height: 450px;
        padding: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }
    &__icon {
        width: 85px;
        height: 85px;
    }
    &__title_caracter {
        font-family: Montserrat-Medium;
        color: #717171FF;
        font-size: 16px;
        text-align: left;
        margin-left: 15px;
    }
    &__parrafo_caracter {
        font-family: Montserrat-Light;
        color: #979797FF;
        font-size: 13px;
        text-align: left;
        margin-left: 15px;
    }
    &__none_pc {
        clip: rect(1px 1px 1px 1px);
        /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
        position: absolute;
        z-index: 0;
        transform: translateX(-99900px);
    }
    @media screen and(max-width: 991px) {
        &__box_text {
            padding-right: 10px;
            padding-left: 10px;
        }
        &__icon {
            width: 75px;
            height: 75px;
        }
        &__bg2 {
            background: #F9F9F9FF;
            height: 450px;
            padding: 30px;
            padding-left: 15px;
            padding-right: 15px;
        }
        &__col_1 {
            padding-left: 5px;
        }
    }
    @media screen and(max-width: 805px) {
        &__icon {
            width: 65px;
            height: 65px;
        }
        &__title_caracter {
            font-size: 15px;
        }
        &__parrafo_caracter {
            font-size: 12px;
        }
        &__bg2 {
            background: #F9F9F9FF;
            height: 410px;
            padding: 30px;
            padding-left: 15px;
            padding-right: 15px;
        }
        &__parrafo {
            font-family: Montserrat-Light;
            margin-bottom: 50px;
            font-size: 15px;
        }
    }
    @media screen and(max-width: 767px) {
        &__bg {
            padding-top: 100px;
        }
        &__line_title {
            margin-bottom: 20px;
        }
        &__title {
            margin-bottom: 20px;
        }
        &__none_movil {
            clip: rect(1px 1px 1px 1px);
            /* IE6, IE7 */
            clip: rect(1px, 1px, 1px, 1px);
            position: absolute;
            transform: translateX(-99900px);
        }
        &__none_pc {
            clip: rect(1px 1px 1px 1px);
            /* IE6, IE7 */
            clip: rect(1px, 1px, 1px, 1px);
            position: relative;
            text-align: center;
        }
        &__line_caracter {
            margin-bottom: 24px;
        }
        &__box_icon {
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
        }
        &__col {
            padding-left: 15px;
        }
        &__col_1 {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    @media screen and(max-width: 575px) {
        &__line_title {
            width: 180px;
        }
        &__title {
            margin-left: 0px;
        }
        &__col_1 {
            padding-right: 0px;
            padding-left: 0px;
        }
        &__line_title {
            margin-left: 0px;
            margin-bottom: 20px;
        }
        &__box_text {
            padding-right: 0px;
            padding-left: 0px;
        }
        &__box_icon {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        &__bg2 {
            background: #F9F9F9FF;
            min-height: 437px;
            padding: 30px;
            padding-left: 15px;
            padding-right: 15px;
        }
        &__col {
            padding-left: 0px;
            padding-right: 15px;
        }
        &__line_caracter {
            margin-bottom: 15px;
        }
    }
}