.rojas {
    &__bg {
        background: linear-gradient(to top, #212121 60%, transparent 40%, #212121 60%, transparent 40%);
        height: 670px;
    }
    &__box {
        padding-top: 100px;
    }
    &__box_title {
        height: 120px;
    }
    &__title {
        font-family: garreg;
        font-size: 42px;
    }
    &__line {
        height: 3px;
        width: 70px;
        background: #9AA5B8FF;
    }
    &__box_img_vertical {
        height: 540px;
    }
    &__box_img_horizontal {
        height: 380px;
    }
    &__box_img_cuadrado {
        height: 250px;
    }
    &__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    &__box_imgs_cuadrados {
        margin-top: 30px;
    }
    @media screen and(max-width: 991px) {
        &__title {
            font-family: garreg;
            font-size: 38px;
        }
        &__padding_1 {
            padding-right: 10px;
        }
        &__padding_2 {
            padding-left: 10px;
        }
        &__box_imgs_cuadrados {
            margin-top: 20px;
        }
        &__padding_cuadrados_1 {
            padding-right: 10px;
        }
        &__padding_cuadrados_2 {
            padding-left: 10px;
        }
        &__box_img_cuadrado {
            height: 260px;
        }
        &__box_img_vertical {
            height: 479px;
            margin-bottom: 20px;
        }
        &__box_img_horizontal {
            height: 320px;
            margin-bottom: 20px;
        }
        &__bg {
            background: linear-gradient(to top, #212121 57%, transparent 43%, #212121 57%, transparent 43%);
            height: 670px;
        }
    }
    @media screen and(max-width: 767px) {
        &__box_title {
            height: 90px;
        }
        &__padding_1 {
            padding-right: 15px;
        }
        &__box_img_vertical {
            height: 320px;
            margin-bottom: 20px;
        }
        &__box_img_horizontal {
            height: 320px;
            margin-bottom: 20px;
        }
        &__padding_2 {
            padding-left: 15px;
        }
        &__box {
            padding-top: 70px;
        }
        &__bg {
            background: linear-gradient(to top, #212121 80%, transparent 20%, #212121 80%, transparent 20%);
            min-height: 1050px;
        }
    }
    @media screen and(max-width: 575px) {
        &__box_title {
            height: 90px;
        }
        &__padding_1 {
            padding-right: 0px;
            padding-left: 0px;
        }
        &__box_img_vertical {
            height: 260px;
        }
        &__box_img_horizontal {
            height: 260px;
        }
        &__padding_2 {
            padding-left: 0px;
            padding-right: 0px;
        }
        &__bg {
            background: linear-gradient(to top, #212121 85%, transparent 15%, #212121 85%, transparent 15%);
            min-height: 1310px;
        }
        &__box {
            padding-top: 70px;
        }
        &__padding_cuadrados_1 {
            padding-right: 0px;
        }
        &__padding_cuadrados_2 {
            padding-left: 0px;
            margin-top: 15px;
        }
        &__box_imgs_cuadrados {
            margin-top: 15px;
        }
        &__box_img_horizontal {
            height: 320px;
            margin-bottom: 5px;
        }
        &__box_img_vertical {
            height: 320px;
            margin-bottom: 15px;
        }
    }
}