.title__line {
  border: 2px solid #A8A8A8FF;
  width: 140px;
  margin-left: 15px; }

.title__box {
  padding-top: 75px;
  padding-bottom: 75px; }

.title__font {
  font-family: Montserrat-Medium;
  font-size: 28px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px; }

@media screen and (max-width: 991px) {
  .title__font {
    font-size: 25px;
    margin-bottom: 20px; } }

@media screen and (max-width: 575px) {
  .title__line {
    width: 100px;
    margin-left: 0px; }
  .title__box {
    padding-top: 50px;
    padding-bottom: 15px; }
  .title__font {
    font-size: 22px;
    margin-left: 0px;
    text-align: left;
    margin-bottom: 15px;
    margin-right: 0px; } }

.portadas__bg {
  height: 450px;
  background-image: url(..//img/sabanas.jpg);
  background-position: center;
  background-size: cover; }

.portadas__rgba {
  background: rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%; }

.portadas__boxtitle {
  width: auto;
  height: 150px;
  margin-top: auto; }

.portadas__line {
  height: 3px;
  width: 50px;
  background: white;
  margin-left: auto;
  margin-right: 15px; }

.portadas__title {
  font-family: garreg;
  color: white;
  font-size: 70px;
  margin-left: auto;
  margin-bottom: 0px;
  margin-right: 15px; }

@media screen and (max-width: 767px) {
  .portadas__bg {
    height: 350px; }
  .portadas__title {
    font-size: 60px; }
  .portadas__boxtitle {
    height: 120px; } }

@media screen and (max-width: 575px) {
  .portadas__bg {
    height: 300px; }
  .portadas__title {
    font-size: 50px;
    margin-right: 0px; }
  .portadas__boxtitle {
    height: 105px; }
  .portadas__line {
    margin-right: 0px; } }

.suites__imgs {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.suites__box_imgs {
  width: 100%;
  height: 300px; }

.suites__box_col {
  height: 300px; }

.suites__box_link {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  opacity: 0; }

.suites__box_link:hover {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  opacity: 1;
  transition: .4s all ease; }

.suites__line_number {
  height: 3px;
  width: 35px;
  background: white;
  margin-top: 0px; }

.suites__number {
  color: white;
  font-family: Montserat-Medium;
  margin-bottom: 0px;
  font-size: 39px;
  height: 50px; }

.suites__box_titles {
  height: 160px; }

.suites__fonts_titles {
  font-family: garreg;
  font-size: 40px; }

.suites__line {
  width: 35px;
  height: 2px;
  background: white;
  margin-bottom: 10px; }

.suites__box_black {
  height: 670px;
  padding: 25px;
  padding-top: 65px;
  padding-bottom: 50px; }

.suites__title {
  font-family: Montserrat-Medium;
  margin-bottom: 10px;
  font-size: 20px; }

.suites__parrafo {
  font-family: Montserrat-Light;
  font-size: 14px;
  color: #A0A0A0FF; }

.suites__overflow {
  overflow-y: auto;
  height: 500px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px; }

.suites__bg {
  background: linear-gradient(to right, #939DB0FF 50%, transparent 50%, #939DB0FF 50%, transparent 50%);
  height: 330px;
  margin-bottom: 20px;
  margin-top: -300px; }

.suites__bg2 {
  background: linear-gradient(to right, #939DB0FF 100%, transparent 0%, #939DB0FF 100%, transparent 0%);
  height: 330px; }

.suites__col {
  flex: 0 0 22.22%;
  width: 100%;
  max-width: 22.22%;
  padding-left: 15px;
  padding-right: 15px;
  height: 160px;
  margin-top: 40px;
  margin-bottom: 30px; }

.suites__icon_font {
  font-family: Montserrat-Medium;
  font-size: 23px;
  color: white; }

.suites__box_btn {
  max-width: 695px;
  text-align: center;
  margin-top: 25px;
  margin-right: 33.333333%; }

.suites__btn {
  font-family: Montserrat-Light;
  color: #E9EAEAFF;
  padding: 8px 50px 8px 50px;
  border: 2px solid #E9EAEAFF;
  border-radius: 7px;
  font-size: 22px; }

.suites__btn:hover {
  color: #E9EAEAFF;
  transition: .4s all ease;
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.3); }

.suites__icon {
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px; }

@media screen and (max-width: 1080px) {
  .suites__bg {
    background: linear-gradient(to right, #939DB0FF 50%, transparent 50%, #939DB0FF 50%, transparent 50%); }
  .suites__bg2 {
    background: linear-gradient(to right, #939DB0FF 98.5%, transparent 0%, #939DB0FF 98.5%, transparent 0%); } }

@media screen and (max-width: 991px) {
  .suites__box_black {
    height: 670px;
    padding: 10px !important;
    padding-top: 65px;
    padding-bottom: 50px; }
  .suites__overflow {
    overflow-y: auto;
    height: 500px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px; } }

@media screen and (max-width: 900px) {
  .suites__parrafo {
    font-family: Montserrat-Light;
    font-size: 12.5px;
    color: #A0A0A0FF; }
  .suites__overflow {
    height: 470px; } }

@media screen and (max-width: 850px) {
  .suites__overflow {
    height: 490px; } }

@media screen and (max-width: 800px) {
  .suites__overflow {
    height: 510px; } }

@media screen and (max-width: 770px) {
  .suites__overflow {
    height: 550px; } }

@media screen and (max-width: 767px) {
  .suites__none {
    clip: rect(1px 1px 1px 1px) !important;
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px) !important;
    position: absolute !important; }
  .suites__bg {
    background: linear-gradient(to right, #939DB0FF 50%, transparent 50%, #939DB0FF 50%, transparent 50%);
    height: 90px;
    margin-bottom: 20px;
    margin-top: 0px; }
  .suites__bg2 {
    background: linear-gradient(to right, #939DB0FF 100%, transparent 0%, #939DB0FF 100%, transparent 0%);
    height: 90px; }
  .suites__box_btn {
    max-width: 100%;
    text-align: center;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 30px;
    margin-right: 0px; }
  .suites__btn {
    margin-top: auto;
    margin-bottom: auto; }
  .suites__box_imgs {
    width: 100%;
    height: 350px;
    margin-bottom: 20px; }
  .suites__box_col {
    height: 350px;
    margin-bottom: 20px; }
  .suites__box_black {
    height: auto;
    padding: 20px !important;
    padding-top: 40px !important;
    padding-bottom: 0px !important; }
  .suites__overflow {
    height: 300px; }
  .suites__box_titles {
    height: 200px; } }

@media screen and (max-width: 575px) {
  .suites__box_btn {
    max-width: 100%;
    text-align: center;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 30px; }
  .suites__btn {
    margin-top: auto;
    margin-bottom: auto; }
  .suites__box_imgs {
    width: 100%;
    height: 250px;
    margin-bottom: 20px; }
  .suites__box_col {
    height: 250px;
    margin-bottom: 20px; }
  .suites__box_black {
    height: auto;
    padding: 20px !important;
    padding-top: 25px !important;
    padding-bottom: 25px !important; }
  .suites__box_titles {
    height: 100px; }
  .suites__box_col {
    padding-left: 0px;
    padding-right: 0px; }
  .suites__box_col_black {
    padding-left: 0px;
    padding-right: 0px; } }

.habitaciones__line {
  border: 2px solid #A8A8A8FF;
  width: 140px;
  margin-right: 15px;
  margin-left: auto; }

.habitaciones__box {
  padding-top: 75px;
  padding-bottom: 35px; }

.habitaciones__font {
  font-family: Montserrat-Medium;
  font-size: 28px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: right; }

@media screen and (max-width: 991px) {
  .habitaciones__font {
    font-size: 25px;
    margin-bottom: 20px; } }

@media screen and (max-width: 575px) {
  .habitaciones__line {
    width: 100px;
    margin-right: 0px; }
  .habitaciones__box {
    padding-top: 50px;
    padding-bottom: 15px; }
  .habitaciones__font {
    font-size: 22px;
    margin-left: 0px;
    text-align: right;
    margin-bottom: 15px;
    margin-right: 0px; } }

.habitaciones__bg {
  background: linear-gradient(to top, #212121 80%, transparent 20%, #212121 80%, transparent 20%);
  height: 840px; }

.habitaciones__imgs {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.habitaciones__box_imgs {
  width: 100%;
  height: 300px; }

.habitaciones__box_col {
  height: 300px; }

.habitaciones__box_link {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  opacity: 0; }

.habitaciones__box_link:hover {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  opacity: 1;
  transition: .4s all ease; }

.habitaciones__line_number {
  height: 3px;
  width: 35px;
  background: white;
  margin-top: 0px; }

.habitaciones__number {
  color: white;
  font-family: Montserat-Medium;
  margin-bottom: 0px;
  font-size: 39px;
  height: 50px; }

.habitaciones__box_titles {
  height: 160px; }

.habitaciones__fonts_titles {
  font-family: garreg;
  font-size: 40px; }

.habitaciones__box_text {
  background: #98A3B7FF;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.habitaciones__title {
  font-family: Montserrat-Medium;
  font-size: 23px;
  margin-bottom: 10px; }

.habitaciones__parrafo {
  font-family: Montserrat-Light;
  margin-top: 10px; }

.habitaciones__line_box {
  height: 3px;
  width: 45px;
  background: white; }

@media screen and (max-width: 767px) {
  .habitaciones__bg {
    background: linear-gradient(to top, #212121 90%, transparent 10%, #212121 90%, transparent 10%);
    height: auto;
    padding-bottom: 70px; }
  .habitaciones__box_imgs {
    width: 100%;
    height: 285px; }
  .habitaciones__box_col {
    height: 285px; } }

@media screen and (max-width: 575px) {
  .habitaciones__bg {
    background: linear-gradient(to top, #212121 90%, transparent 10%, #212121 90%, transparent 10%); }
  .habitaciones__box_imgs {
    width: 100%;
    height: 285px; }
  .habitaciones__col {
    padding-right: 0px;
    padding-left: 0px; } }

.salon__bg {
  height: 600px;
  background-image: url(..//img/home-portada.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 250px; }

.salon__rgba {
  background: rgba(0, 0, 0, 0.2);
  height: 100%; }

.salon__title {
  font-family: garreg;
  color: white;
  font-size: 50px;
  margin-top: 160px;
  margin-right: 15px; }

.salon__parrafo {
  font-family: Montserrat-Regular;
  color: #D1CDC8FF;
  font-size: 24px;
  text-align: right;
  margin-right: 15px; }

.salon__box {
  height: 550px; }

@media screen and (max-width: 991px) {
  .salon__bg {
    margin-top: 200px; } }

@media screen and (max-width: 767px) {
  .salon__bg {
    margin-top: 0px; } }

@media screen and (max-width: 575px) {
  .salon__title {
    font-size: 50px;
    margin-top: 160px;
    margin-right: 0px; }
  .salon__parrafo {
    font-size: 20px;
    margin-right: 0px; }
  .salon__box {
    height: 450px; }
  .salon__bg {
    height: 500px; } }

