<div class="bg-dark">
	<div class="container__salamanca">
		<div class="d-flex flex-wrap footer__spacing">
			<div class="col-lg-6 col-md-4 col-12 ">
				<div class="d-flex flex-column text-white">
					<h2 class="footer__title">HS</h2>
					<div class="footer__line_title"></div>
					<p class="footer__text">Salamanca<br>Home <i class="fas fa-star footer__start"></i></p>
				</div>
			</div>
			<div class="col-lg-2 col-md-3 col-12 footer__column">
				<ul class="list-unstyled footer__center">
		          <li class="">
		            <a href="#!" class="footer__link">Inicio</a>
		          </li>
		          <li class="">
		            <a href="#!" class="footer__link">Habitaciones</a>
		          </li>
		          <li class="">
		            <a href="#!" class="footer__link">Nosotros</a>
		          </li>
		          <li class="">
		            <a href="#!" class="footer__link">Salamanca</a>
		          </li>
		          <li class="">
		            <a href="#!" class="footer__link">Reserva</a>
		          </li>
        		</ul>			
    		</div>
			<div class="col-lg-4 col-md-5 col-12 mb-2 mt-2 mb-md-0 mt-md-0">
				<h5 class="footer__subtitle">Salamanca Home *</h5>
				<div class="footer__line"></div>
				<p class="footer__text">Avenida de italia, 31</p>
				<p class="footer__text">Telf. 923 xx xx xx</p>
				<p class="footer__text">Siguenos  <i class="fab fa-facebook"></i></p>
			</div>
		</div>
	</div>
</div>
<div class="footer__bg text-center">
	<p class="mb-0 footer__text_2">Salamanca Home 2019 | Aviso de Cookies | Política de Datos</p>
</div>
