<div class="container__salamanca d-flex flex-column position-relative ">
	<div class="habitacion__line  mx-auto"></div>
	<h2 class="text-center habitacion__title">¿Quieres ver mas habitacion?</h2>
</div>
<div class="container__salamanca habitacion__box">
	<div class="d-flex flex-wrap position-relative">
		<div class="col-lg-4 col-md-4 col-sm-6 col-12 habitacion__col pr-md-2  col-12 my-2">
				<div class="position-relative habitacion__box_imgs">
					<img src="static/img/collage-9.jpg" class="habitacion__imgs" alt="">
					<a href="#" class="position-absolute habitacion__box_link">
						<div class="p-3">
							<p class="habitacion__number">01</p>
							<div class="habitacion__line_number"></div>
						</div>
						<div class="my-auto">
							<div class="d-flex justify-content-center habitacion__box_titles">
							<h3 class="text-center text-white my-auto habitacion__fonts_titles">Rooms 1</h3>
						</div>
						</div>
					</a>
				</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-12 habitacion__col px-md-2  col-12 my-2">
				<div class="position-relative habitacion__box_imgs">
					<img src="static/img/collage-2.jpg" class="habitacion__imgs" alt="">
					<a href="#" class="position-absolute habitacion__box_link">
						<div class="p-3">
							<p class="habitacion__number">02</p>
							<div class="habitacion__line_number"></div>
						</div>
						<div class="my-auto">
							<div class="d-flex justify-content-center habitacion__box_titles">
							<h3 class="text-center text-white my-auto habitacion__fonts_titles">Rooms 2</h3>
						</div>
						</div>
					</a>
				</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-12 habitacion__col pl-md-2  col-12 my-2">
				<div class="position-relative habitacion__box_imgs">
					<img src="static/img/collage-10.jpg" class="habitacion__imgs" alt="">
					<a href="#" class="position-absolute habitacion__box_link">
						<div class="p-3">
							<p class="habitacion__number">03</p>
							<div class="habitacion__line_number"></div>
						</div>
						<div class="my-auto">
							<div class="d-flex justify-content-center habitacion__box_titles">
							<h3 class="text-center text-white my-auto habitacion__fonts_titles">Rooms 3</h3>
						</div>
						</div>
					</a>
				</div>
		</div>
		<div class="position-absolute habitacion__box_black">
			
		</div>
	</div>
</div>