<div class="reserva__bg">
	<div class="container__salamanca">
		<h2 class="reserva__title">Lorem ipsum odor</h2>
		<div class="reserva__line_title"></div>
		<div class="d-flex flex-wrap">
			<div class="col-12 col-md-8 reserva__col_1">
				<div class="reserva__box_text justify-content-center text-center">
					<p class="text-justify reserva__parrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. <br><br> Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborumculpa qui officia deser nt, sunt in culpa qui officiar.</p>
					<a href="#" class="reserva__btn reserva__none_movil">Reserva ya</a>
				</div>
			</div>
			<div class="col-12 col-md-4 reserva__col">
				<div class="reserva__bg_shadow">
					<div class="reserva__bg2 text-center">
						<h3 class="reserva__subtitle">Caraterísticas</h3>
						<div class="reserva__line_caracter"></div>
						<div class="d-flex flex-wrap reserva__box_icon">
							<div class="col-md-12 col-sm-6 col-12 px-0 my-2 d-flex flex-nowrap">
								<div class="px-0 d-flex ">
									<img src="static/img/icon-4.png" class="reserva__icon" alt="">
								</div>
								<div class="px-0 d-flex justify-content-center flex-column mx-md-auto">
									<h6 class="reserva__title_caracter">Lorem ipsum</h6>
									<span class="reserva__parrafo_caracter">Odor ipsu am</span>
								</div>
							</div>
							<div class="col-md-12 col-sm-6 col-12 px-0 my-2 d-flex flex-nowrap">
								<div class="px-0 d-flex ">
									<img src="static/img/icon-2.png" class="reserva__icon" alt="">
								</div>
								<div class="px-0 d-flex justify-content-center flex-column mx-md-auto">
									<h6 class="reserva__title_caracter">Lorem ipsum</h6>
									<span class="reserva__parrafo_caracter">Odor ipsu am</span>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-12 px-0 my-2 d-flex flex-nowrap">
								<div class="px-0 d-flex ">
									<img src="static/img/icon-3.png" class="reserva__icon" alt="">
								</div>
								<div class="px-0 d-flex justify-content-center flex-column mx-md-auto">
									<h6 class="reserva__title_caracter">Lorem ipsum</h6>
									<span class="reserva__parrafo_caracter">Odor ipsu am</span>
								</div>
							</div>
						</div>
						{{!-- <div class="d-flex flex-nowrap my-3 reserva__box_icon">
							<div class="px-0 d-flex ">
								<img src="static/img/icon-2.png" class="reserva__icon" alt="">
							</div>
							<div class="px-0 d-flex justify-content-center flex-column">
								<h6 class="reserva__title_caracter">Lorem ipsum</h6>
								<span class="reserva__parrafo_caracter">Odor ipsu am</span>
							</div>
						</div>
						<div class="d-flex flex-nowrap my-3 reserva__box_icon">
							<div class="px-0 d-flex ">
								<img src="static/img/icon-3.png" class="reserva__icon" alt="">
							</div>
							<div class="px-0 d-flex justify-content-center flex-column">
								<h6 class="reserva__title_caracter">Lorem ipsum</h6>
								<span class="reserva__parrafo_caracter">Odor ipsu am</span>
							</div>
						</div> --}}
						<a href="#" class="reserva__btn reserva__none_pc">Reserva ya</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>