<div class="rojas__bg">
	<div class="container__salamanca">
		<div class="d-flex flex-wrap rojas__box">
			<div class="col-12 col-md-4 rojas__padding_1">
				<div class="d-flex flex-column">
					<div class="rojas__box_title">
						<h2 class="rojas__title">La Suite Roja</h2>
						<div class="rojas__line"></div>
					</div>
					<div class="rojas__box_img_vertical">
						<img src="static/img/suites-1.jpeg" class="rojas__img" alt="">
					</div>
				</div>
			</div>
			<div class="col-12 col-md-8 rojas__padding_2">
				<div class="rojas__box_img_horizontal">
					<img src="static/img/suites-1.jpeg" class="rojas__img" alt="">
				</div>
				<div class="d-flex flex-wrap rojas__box_imgs_cuadrados">
				<div class="rojas__box_img_cuadrado col-12 col-sm-6 pl-0 rojas__padding_cuadrados_1">
					<img src="static/img/suites-2.jpg" class="rojas__img" alt="">
				</div>
				<div class="rojas__box_img_cuadrado col-12 col-sm-6 pr-0 rojas__padding_cuadrados_2">
					<img src="static/img/suites-1.jpeg" class="rojas__img" alt="">
				</div>
				</div>
			</div>
		</div>
	</div>
</div>