@import "_variables.scss";
@import "../layout/layout.scss";
@font-face {
    font-family: garreg;
    src: url('../../static/fonts/garreg.ttf');
}
@font-face {
    font-family: Montserrat-Bold;
    src: url('../../static/fonts/Montserrat-Bold.otf');
}
@font-face {
    font-family: Montserrat-Light;
    src: url('../../static/fonts/Montserrat-Light.otf');
}
@font-face {
    font-family: Montserrat-Medium;
    src: url('../../static/fonts/Montserrat-Medium.otf');
}
@font-face {
    font-family: Montserrat-Regular;
    src: url('../../static/fonts/Montserrat-Regular.otf');
}
* {
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}
.container__salamanca {
    width: 100%;
    max-width: 1080px;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
}