.portadas {
    &__bg {
        height: 450px;
        background-image: url('../../static/img/sabanas.jpg');
        background-position: center;
        background-size: cover;
    }
    &__rgba {
        background: rgba(0, 0, 0, .1);
        height: 100%;
        width: 100%;
    }
    &__boxtitle {
        width: auto;
        height: 150px;
        margin-top: auto;
    }
    &__line {
        height: 3px;
        width: 50px;
        background: white;
        margin-left: auto;
        margin-right: 15px;
    }
    &__title {
        font-family: garreg;
        color: white;
        font-size: 70px;
        margin-left: auto;
        margin-bottom: 0px;
        margin-right: 15px;
    }
    @media screen and(max-width: 767px) {
        &__bg {
            height: 350px;
        }
        &__title {
            font-size: 60px;
        }
        &__boxtitle {
            height: 120px;
        }
    }
    @media screen and(max-width: 575px) {
        &__bg {
            height: 300px;
        }
        &__title {
            font-size: 50px;
            margin-right: 0px;
        }
        &__boxtitle {
            height: 105px;
        }
        &__line {
            margin-right: 0px;
        }
    }
}