<div class="portadas__bg">
	<div class="portadas__rgba">
		<div class="container__salamanca d-flex align-items-end flex-column h-100">
			<div class="portadas__boxtitle mt-auto">
				<h2 class="portadas__title">{{title}}</h2>
				<div class="portadas__line"></div>
			</div>
		</div>
	</div>
</div>