.title {
    &__line {
        border: 2px solid $primary;
        width: 140px;
        margin-left: 15px;
    }
    &__box {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    &__font {
        font-family: Montserrat-Medium;
        font-size: 28px;
        margin-bottom: 30px;
        margin-left: 15px;
        margin-right: 15px;
    }
    @media screen and(max-width: 991px) {
        &__font {
            font-size: 25px;
            margin-bottom: 20px;
        }
    }
    @media screen and(max-width: 575px) {
        &__line {
            width: 100px;
            margin-left: 0px;
        }
        &__box {
            padding-top: 50px;
            padding-bottom: 15px;
        }
        &__font {
            font-size: 22px;
            margin-left: 0px;
            text-align: left;
            margin-bottom: 15px;
            margin-right: 0px;
        }
    }
}