.salon {
    &__bg {
        height: 600px;
        background-image: url('../../static/img/home-portada.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 250px;
    }
    &__rgba {
        background: rgba(0, 0, 0, 0.2);
        height: 100%;
    }
    &__title {
        font-family: garreg;
        color: white;
        font-size: 50px;
        margin-top: 160px;
        margin-right: 15px;
    }
    &__parrafo {
        font-family: Montserrat-Regular;
        color: #D1CDC8FF;
        font-size: 24px;
        text-align: right;
        margin-right: 15px;
    }
    &__box {
        height: 550px;
    }
    @media screen and (max-width: 991px) {
        &__bg {
            margin-top: 200px;
        }
    }
    @media screen and(max-width: 767px) {
        &__bg {
            margin-top: 0px;
        }
    }
    @media screen and(max-width: 575px) {
        &__title {
            font-size: 50px;
            margin-top: 160px;
            margin-right: 0px;
        }
        &__parrafo {
            font-size: 20px;
            margin-right: 0px;
        }
        &__box {
            height: 450px;
        }
        &__bg {
            height: 500px;
        }
    }
}