.suites {
    //rooms
    &__imgs {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__box_imgs {
        width: 100%;
        height: 300px;
    }
    &__box_col {
        height: 300px;
    }
    &__box_link {
        background: rgba(0, 0, 0, .5);
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0;
        bottom: 0;
        right: 0;
        color: white;
        opacity: 0;
    }
    &__box_link:hover {
        background: rgba(0, 0, 0, .5);
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0;
        bottom: 0;
        right: 0;
        color: white;
        opacity: 1;
        transition: .4s all ease;
    }
    &__line_number {
        height: 3px;
        width: 35px;
        background: white;
        margin-top: 0px;
    }
    &__number {
        color: white;
        font-family: Montserat-Medium;
        margin-bottom: 0px;
        font-size: 39px;
        height: 50px;
    }
    &__box_titles {
        height: 160px;
    }
    &__fonts_titles {
        font-family: garreg;
        font-size: 40px;
    } //termina rooms
    &__line {
        width: 35px;
        height: 2px;
        background: white;
        margin-bottom: 10px;
    }
    &__box_black {
        height: 670px;
        padding: 25px;
        padding-top: 65px;
        padding-bottom: 50px;
    }
    &__title {
        font-family: Montserrat-Medium;
        margin-bottom: 10px;
        font-size: 20px;
    }
    &__parrafo {
        font-family: Montserrat-Light;
        font-size: 14px;
        color: #A0A0A0FF;
    }
    &__overflow {
        overflow-y: auto;
        height: 500px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 5px;
    }
    &__bg {
        background: linear-gradient(to right, #939DB0FF 50%, transparent 50%, #939DB0FF 50%, transparent 50%);
        height: 330px;
        margin-bottom: 20px;
        margin-top: -300px;
    }
    &__bg2 {
        background: linear-gradient(to right, #939DB0FF 100%, transparent 0%, #939DB0FF 100%, transparent 0%);
        height: 330px;
    }
    &__col {
        flex: 0 0 22.22%;
        width: 100%;
        max-width: 22.22%;
        padding-left: 15px;
        padding-right: 15px;
        height: 160px;
        margin-top: 40px;
        margin-bottom: 30px;
    }
    &__icon_font {
        font-family: Montserrat-Medium;
        font-size: 23px;
        color: white;
    }
    &__box_btn {
        max-width: 695px;
        text-align: center;
        margin-top: 25px;
        margin-right: 33.333333%;
    }
    &__btn {
        font-family: Montserrat-Light;
        color: #E9EAEAFF;
        padding: 8px 50px 8px 50px;
        border: 2px solid #E9EAEAFF;
        border-radius: 7px;
        font-size: 22px;
    }
    &__btn:hover {
        color: #E9EAEAFF;
        transition: .4s all ease;
        box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, .3);
    }
    &__icon {
        width: 120px;
        height: 120px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
    }
    @media screen and(max-width: 1080px) {
        &__bg {
            background: linear-gradient(to right, #939DB0FF 50%, transparent 50%, #939DB0FF 50%, transparent 50%);
        }
        &__bg2 {
            background: linear-gradient(to right, #939DB0FF 98.5%, transparent 0%, #939DB0FF 98.5%, transparent 0%);
        }
    }
    @media screen and(max-width: 991px) {
        &__box_black {
            height: 670px;
            padding: 10px !important;
            padding-top: 65px;
            padding-bottom: 50px;
        }
        &__overflow {
            overflow-y: auto;
            height: 500px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
        }
    }
    @media screen and(max-width: 900px) {
        &__parrafo {
            font-family: Montserrat-Light;
            font-size: 12.5px;
            color: #A0A0A0FF;
        }
        &__overflow {
            height: 470px;
        }
    }
    @media screen and(max-width: 850px) {
        &__overflow {
            height: 490px;
        }
    }
    @media screen and(max-width: 800px) {
        &__overflow {
            height: 510px;
        }
    }
    @media screen and(max-width: 770px) {
        &__overflow {
            height: 550px;
        }
    }
    @media screen and(max-width: 767px) {
        &__none {
            clip: rect(1px 1px 1px 1px) !important;
            /* IE6, IE7 */
            clip: rect(1px, 1px, 1px, 1px) !important;
            position: absolute !important;
        }
        &__bg {
            background: linear-gradient(to right, #939DB0FF 50%, transparent 50%, #939DB0FF 50%, transparent 50%);
            height: 90px;
            margin-bottom: 20px;
            margin-top: 0px;
        }
        &__bg2 {
            background: linear-gradient(to right, #939DB0FF 100%, transparent 0%, #939DB0FF 100%, transparent 0%);
            height: 90px;
        }
        &__box_btn {
            max-width: 100%;
            text-align: center;
            margin-top: 0px;
            display: flex;
            justify-content: center;
            height: 100%;
            margin-top: 30px;
            margin-right: 0px;
        }
        &__btn {
            margin-top: auto;
            margin-bottom: auto;
        }
        &__box_imgs {
            width: 100%;
            height: 350px;
            margin-bottom: 20px;
        }
        &__box_col {
            height: 350px;
            margin-bottom: 20px;
        }
        &__box_black {
            height: auto;
            padding: 20px !important;
            padding-top: 40px !important;
            padding-bottom: 0px !important;
        }
        &__overflow {
            height: 300px;
        }
        &__box_titles {
            height: 200px;
        }
    }
    @media screen and (max-width: 575px) {
        &__box_btn {
            max-width: 100%;
            text-align: center;
            margin-top: 0px;
            display: flex;
            justify-content: center;
            height: 100%;
            margin-top: 30px;
        }
        &__btn {
            margin-top: auto;
            margin-bottom: auto;
        }
        &__box_imgs {
            width: 100%;
            height: 250px;
            margin-bottom: 20px;
        }
        &__box_col {
            height: 250px;
            margin-bottom: 20px;
        }
        &__box_black {
            height: auto;
            padding: 20px !important;
            padding-top: 25px !important;
            padding-bottom: 25px !important;
        }
        &__box_titles {
            height: 100px;
        }
        &__box_col {
            padding-left: 0px;
            padding-right: 0px;
        }
        &__box_col_black {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}