.habitaciones {
    &__line {
        border: 2px solid $primary;
        width: 140px;
        margin-right: 15px;
        margin-left: auto;
    }
    &__box {
        padding-top: 75px;
        padding-bottom: 35px;
    }
    &__font {
        font-family: Montserrat-Medium;
        font-size: 28px;
        margin-bottom: 30px;
        margin-left: 15px;
        margin-right: 15px;
        text-align: right;
    }
    @media screen and(max-width: 991px) {
        &__font {
            font-size: 25px;
            margin-bottom: 20px;
        }
    }
    @media screen and(max-width: 575px) {
        &__line {
            width: 100px;
            margin-right: 0px;
        }
        &__box {
            padding-top: 50px;
            padding-bottom: 15px;
        }
        &__font {
            font-size: 22px;
            margin-left: 0px;
            text-align: right;
            margin-bottom: 15px;
            margin-right: 0px;
        }
    }
    &__bg {
        background: linear-gradient(to top, #212121 80%, transparent 20%, #212121 80%, transparent 20%);
        height: 840px;
    }
    &__imgs {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__box_imgs {
        width: 100%;
        height: 300px;
    }
    &__box_col {
        height: 300px;
    }
    &__box_link {
        background: rgba(0, 0, 0, .5);
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0;
        bottom: 0;
        right: 0;
        color: white;
        opacity: 0;
    }
    &__box_link:hover {
        background: rgba(0, 0, 0, .5);
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0;
        bottom: 0;
        right: 0;
        color: white;
        opacity: 1;
        transition: .4s all ease;
    }
    &__line_number {
        height: 3px;
        width: 35px;
        background: white;
        margin-top: 0px;
    }
    &__number {
        color: white;
        font-family: Montserat-Medium;
        margin-bottom: 0px;
        font-size: 39px;
        height: 50px;
    }
    &__box_titles {
        height: 160px;
    }
    &__fonts_titles {
        font-family: garreg;
        font-size: 40px;
    }
    &__box_text {
        background: #98A3B7FF;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &__title {
        font-family: Montserrat-Medium;
        font-size: 23px;
        margin-bottom: 10px;
    }
    &__parrafo {
        font-family: Montserrat-Light;
        margin-top: 10px;
    }
    &__line_box {
        height: 3px;
        width: 45px;
        background: white;
    }
    @media screen and(max-width: 767px) {
        &__bg {
            background: linear-gradient(to top, #212121 90%, transparent 10%, #212121 90%, transparent 10%);
            height: auto;
            padding-bottom: 70px;
        }
        &__box_imgs {
            width: 100%;
            height: 285px;
        }
        &__box_col {
            height: 285px;
        }
    }
    @media screen and(max-width: 575px) {
        &__bg {
            background: linear-gradient(to top, #212121 90%, transparent 10%, #212121 90%, transparent 10%);
        }
        &__box_imgs {
            width: 100%;
            height: 285px;
        }
        &__col {
            padding-right: 0px;
            padding-left: 0px;
        }
    }
}