<div class="container__salamanca">
	<div class="habitaciones__box">
		<h2 class="habitaciones__font">¿Prefieres una habitación estandar?<br>te la enseñamos</h2>
		<div class="habitaciones__line"></div>
	</div>
</div>
<div class="habitaciones__bg">
	<div class="container__salamanca">
		<div class="d-flex flex-wrap">
		<div class="col-lg-4 col-md-4 col-sm-6 col-12 habitaciones__col pr-md-2  col-12 my-2">
			<div class="position-relative habitaciones__box_imgs">
				<img src="static/img/collage-9.jpg" class="habitaciones__imgs" alt="">
				<a href="#" class="position-absolute habitaciones__box_link">
					<div class="p-3">
						<p class="habitaciones__number">01</p>
						<div class="habitaciones__line_number"></div>
					</div>
					<div class="my-auto">
						<div class="d-flex justify-content-center habitaciones__box_titles">
						<h3 class="text-center text-white my-auto habitaciones__fonts_titles">Rooms 1</h3>
					</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-12 habitaciones__col px-md-2  col-12 my-2">
			<div class="position-relative habitaciones__box_imgs">
				<img src="static/img/collage-2.jpg" class="habitaciones__imgs" alt="">
				<a href="#" class="position-absolute habitaciones__box_link">
					<div class="p-3">
						<p class="habitaciones__number">02</p>
						<div class="habitaciones__line_number"></div>
					</div>
					<div class="my-auto">
						<div class="d-flex justify-content-center habitaciones__box_titles">
						<h3 class="text-center text-white my-auto habitaciones__fonts_titles">Rooms 2</h3>
					</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-12 habitaciones__col pl-md-2  col-12 my-2">
			<div class="position-relative habitaciones__box_imgs">
				<img src="static/img/collage-10.jpg" class="habitaciones__imgs" alt="">
				<a href="#" class="position-absolute habitaciones__box_link">
					<div class="p-3">
						<p class="habitaciones__number">03</p>
						<div class="habitaciones__line_number"></div>
					</div>
					<div class="my-auto">
						<div class="d-flex justify-content-center habitaciones__box_titles">
						<h3 class="text-center text-white my-auto habitaciones__fonts_titles">Rooms 3</h3>
					</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-12 habitaciones__col pr-md-2  col-12 my-2">
			<div class="position-relative habitaciones__box_imgs">
				<img src="static/img/collage-4.jpg" class="habitaciones__imgs" alt="">
				<a href="#" class="position-absolute habitaciones__box_link">
					<div class="p-3">
						<p class="habitaciones__number">04</p>
						<div class="habitaciones__line_number"></div>
					</div>
					<div class="my-auto">
						<div class="d-flex justify-content-center habitaciones__box_titles">
						<h3 class="text-center text-white my-auto habitaciones__fonts_titles">Rooms 3</h3>
					</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-12 habitaciones__col px-md-2  col-12 my-2">
			<div class="position-relative habitaciones__box_imgs">
				<img src="static/img/collage-5.png" class="habitaciones__imgs" alt="">
				<a href="#" class="position-absolute habitaciones__box_link">
					<div class="p-3">
						<p class="habitaciones__number">05</p>
						<div class="habitaciones__line_number"></div>
					</div>
					<div class="my-auto">
						<div class="d-flex justify-content-center habitaciones__box_titles">
						<h3 class="text-center text-white my-auto habitaciones__fonts_titles">Rooms 5</h3>
					</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-12 habitaciones__col pl-md-2  col-12 my-2">
			<div class="position-relative habitaciones__box_imgs">
				<img src="static/img/collage-6.jpg" class="habitaciones__imgs" alt="">
				<a href="#" class="position-absolute habitaciones__box_link">
					<div class="p-3">
						<p class="habitaciones__number">06</p>
						<div class="habitaciones__line_number"></div>
					</div>
					<div class="my-auto">
						<div class="d-flex justify-content-center habitaciones__box_titles">
						<h3 class="text-center text-white my-auto habitaciones__fonts_titles">Rooms 6</h3>
					</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-12 habitaciones__col pr-md-2  col-12 my-2">
			<div class="position-relative habitaciones__box_imgs">
				<img src="static/img/collage-7.jpg" class="habitaciones__imgs" alt="">
				<a href="#" class="position-absolute habitaciones__box_link">
					<div class="p-3">
						<p class="habitaciones__number">07</p>
						<div class="habitaciones__line_number"></div>
					</div>
					<div class="my-auto">
						<div class="d-flex justify-content-center habitaciones__box_titles">
						<h3 class="text-center text-white my-auto habitaciones__fonts_titles">Rooms 7</h3>
					</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-12 habitaciones__col px-md-2  col-12 my-2">
			<div class="p-4 text-white habitaciones__box_text h-100">
				<h3 class="habitaciones__title">Nuestras Habitaciones</h3>
				<div class="habitaciones__line_box"></div>
				<p class="habitaciones__parrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</div>
	</div>
</div>