<div class="salon__bg">
	<div class="salon__rgba">
		<div class="container__salamanca">
			<div class="d-flex align-items-end flex-column salon__box">
			  <div class="salon__title">Y además...</div>
			  <div class="mt-auto text-white salon__parrafo"><p>Salon Comunitario<br>Cafetera y microondas<br>Baños adaptados para todos</p>
			  </div>
			</div>
		</div>
	</div>
</div>