{{> ../title/titles-sections title_part_1="¿Quieres lo mejor?" title_part_2="Tenemos lo que necesitas"}}
<div class="container__salamanca">
	<div class="d-flex flex-wrap">
		<div class="col-lg-4 pr-md-2 col-md-4 col-12 suites__box_col">
			<div class="position-relative suites__box_imgs">
				<img src="static/img/habitacion-3.jpg" class="suites__imgs" alt="">
				<a href="#" class="position-absolute suites__box_link">
					<div class="p-3">
						<p class="suites__number">01</p>
						<div class="suites__line_number"></div>
					</div>
					<div class="my-auto">
						<div class="d-flex justify-content-center suites__box_titles">
						<h3 class="text-center text-white my-auto suites__fonts_titles">Suites Platas</h3>
					</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-4 px-md-2 col-md-4 col-12 suites__box_col">
			<div class="position-relative suites__box_imgs">
				<img src="static/img/habitacion-2.jpg" class="suites__imgs" alt="">
				<a href="#" class="position-absolute suites__box_link">
					<div class="p-3">
						<p class="suites__number">02</p>
						<div class="suites__line_number"></div>
					</div>
					<div class="my-auto">
						<div class="d-flex justify-content-center suites__box_titles">
						<h3 class="text-center text-white my-auto suites__fonts_titles">Suites Platas</h3>
					</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-4 pl-md-2 col-md-4 col-12 suites__box_col_black">
			<div class="bg-dark suites__box_black d-flex">
				<div class="my-auto suites__overflow">
				<h4 class="text-white suites__title">Nuestras Suites</h4>
				<div class="suites__line"></div>
				<p class="text-white text-justify suites__parrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et doloreonsectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut.<br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et doloreonsectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut.<br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et doloreonsectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="suites__bg">
	<div class="container__salamanca suites__bg2">
		<div class="d-flex flex-nowrap suites__none">
		<div class="suites__col text-center">
			<img src="static/img/icon-room-1.png" class="suites__icon" alt="">
			<h4 class="suites__icon_font">AMPLITUD</h4>
		</div>
		<div class="suites__col text-center">
			<img src="static/img/icon-room-2.png" class="suites__icon" alt="">
			<h4 class="suites__icon_font">BAÑO PRIVADO</h4>
		</div>
		<div class="suites__col text-center">
			<img src="static/img/icon-room-3.png" class="suites__icon" alt="">
			<h4 class="suites__icon_font">Cama de X CM</h4>
		</div>
		</div>
		<div class="suites__box_btn">
			<a href="#reserva" class="suites__btn">Reserva ya</a>
		</div>
	</div>
</div>